config yantd config
	option datadir '/tmp/yantd'
	# -19 = highest priority (dangerous), 0 (default), 19 = lowest priority
	option niceness 19
	# 1 = realtime, 2 = best effort (default), 3 = idle
	option ioniceness 3

config interface
	option enabled 1
	option interface 'br-lan'
	option interval 30

config interface
	option enabled 1
	option interface 'eth1'
	option interval 30
